<!-- 
      index.html.erb
      PIM
      
      Created by Kael Hankins on 2013-01-17.
      Copyright 2013 Kael Hankins. All rights reserved.
      
      Handels the view for the user admin list, this will be restricted to admins later
 -->	
	
	<div id="notice"><%= notice %></div>
	
	<div id="pim_admins_wrapper">
		
		<table id="pim_admin_index_table">
			<tr id="pim_admin_index_headerrow">
				<th><div><%= LANGUAGE.lang['username'] %>:</div></th>
				<th><div><%= LANGUAGE.lang['email-address'] %>:</div></th>
				<th><div><%= LANGUAGE.lang['admin-since'] %>:</div></th>
			</tr>
			
			<% if (@pim_admins.empty?) %>
				<tr id="pim_admin_index_noadminrow">
					<td colspan="3"><%= LANGUAGE.lang['sorry-no-admins'] %></td>
				</tr>
			<% end %>
			
			<% @pim_admins.each do |pim_admin| %>
				<% if (pim_admin.id % 2) == 1 %>
					<tr class="pim_admin_index_adminrow" onclick="goTo('<%= url_for(pim_admin) %>')">
						<td><%= pim_admin.username %></td>
						<td><%= pim_admin.email %></td>
						<td><%= pim_admin.created_at.strftime(APP_CONFIG.config['date_time_format']) %></td>
					</tr>
				<% else %>
					<tr class="pim_admin_index_adminrow_alt" onclick="goTo('<%= url_for(pim_admin) %>')">
						<td><%= pim_admin.username %></td>
						<td><%= pim_admin.email %></td>
						<td><%= pim_admin.created_at.strftime(APP_CONFIG.config['date_time_format']) %></td>
					</tr>
				<% end %>
		    <% end %>
		
		</table>

	</div>
