<!-- 
      index.html.erb
      PIM
      
      Created by Kael Hankins on 2013-01-12.
      Copyright 2013 Kael Hankins. All rights reserved.
      
      Handles the view for the blog, listing posts in order (order to be defined in settings later).
 -->

<div class="page_wrapper">
	
	<div class="header_wrapper">
		<div class="header"><%= LANGUAGE.lang['blog_title'] %></div>
		<%= link_to 'Home', home_index_path %>
	</div>
	
	<div class="posts_wrapper">
		
		<% @posts.each do |post| %>
			<div class="post">
				<div class="post_title"><%= post.title %></div>
				<div class="post_content"><%= post.content %></div>
				<div class="post_footer">
					<span class="post_name"><%= post.name %></span>
					<span class="post_created">Posted:<%= post.created_at.in_time_zone %></span>
					<span class="post_updated">Last Updated:<%= post.updated_at %></span>
				</div>
			</div>
		<% end %>
		
		
		<%= link_to 'New Post', new_post_path %> <!-- This link will be removed when a 'backend' is created, remember to remove assignment capacity for posts. -->
	
	</div>
	
	<div class="footer_wrapper">
		<div class="footer">
			<%= LANGUAGE.lang['blog_footer'] %>
			<br />
			<%= APP_CONFIG.config['global_footer'] %>
		</div>	
	</div>
</div>
