<!-- 
      index.html.erb
      PIM
      
      Created by Kael Hankins on 2013-01-12.
      Copyright 2013 Kael Hankins. All rights reserved.
      
      Handles the view for the blog, listing posts in order (order to be defined in settings later).
 -->

	<div id="notice"><%= notice %></div>
	
	<div class="posts_wrapper">

		<% if (@posts.empty?) %>
			<div class="post">
				<%= LANGUAGE.lang['sorry-no-posts']%>
			</div>
		<% end %>
		
		<% @posts.each do |post| %>
			<div class="post">
				<div class="post_title"><%= link_to post.title, post, :class => "post_title" %></div>
				<div class="post_content"><%= post.content %></div>
				<div class="post_footer">
					<span class="post_name"><%= LANGUAGE.lang['by'] + ": " + post.pimAdmin.username %></span>
					<% if post.updated_at != post.created_at %>
						<span class="post_updated"><%= LANGUAGE.lang['last-updated'] + ": " + post.updated_at.strftime(APP_CONFIG.config['date_time_format']) %></span>
					<% end %>
					<span class="post_created"><%= LANGUAGE.lang['posted'] + ": " + post.created_at.strftime(APP_CONFIG.config['date_time_format']) %></span>
				</div>
			</div>
		<% end %>
		
		
		<%= link_to (LANGUAGE.lang['new-post']), new_post_path %> <!-- This link will be removed when a 'backend' is created, remember to remove mass assignment capacity for posts. -->
	
	</div>