<!-- 
      show.html.erb
      PIM
      
      Created by Kael Hankins on 2013-01-12.
      Copyright 2013 Kael Hankins. All rights reserved.
      
      View for posts#show
 -->

<div class="post">
	<div class="post_title"><%= @post.title %></div>
	<div class="post_header">
		<%= LANGUAGE.lang['author'] %>: <span class="post_name">
			<% if @post.pimAdmin %>
				<%= link_to @post.pimAdmin.username, @post.pimAdmin %>
			<% else %>
				<%= LANGUAGE.lang['admin-deleted'] %>
			<% end %>
		</span>
	</div>
	<div class="post_content"><%= @post.content %></div>
	<div class="post_footer">
		
		<% if @post.created_at != @post.updated_at %>
			<span class="post_updated">Updated: <%= @post.updated_at.strftime(APP_CONFIG.config['date_time_format']) %></span>
		<% end %>
		<span class="post_created">Created: <%= @post.created_at.strftime(APP_CONFIG.config['date_time_format']) %></span>
	</div>
</div>

<!--
	For backend use later.
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Back', posts_path %>
-->