<!-- 
      posts.html.erb
      PIM
      
      Created by Kael Hankins on 2013-01-12.
      Copyright 2013 Kael Hankins. All rights reserved.
      
      Layout for the posts controller (blog).
 -->

<!DOCTYPE html>
<html>
<head>
  <title>PIM</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag	 "posts", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="page_wrapper">
		
		<div class="header_wrapper">
			<div class="header"><%= LANGUAGE.lang['blog_title'] %></div>
			<%= link_to LANGUAGE.lang['home'], home_index_path %>
			<%= link_to LANGUAGE.lang['manage-admins'], pim_admins_index_path %>
		</div>
		
		<div id="notice"><%= notice %></div>
		<div class="content_wrapper">
			<%= yield %>
		</div>
		
		<div class="footer_wrapper">
			<div class="footer">
				<%= LANGUAGE.lang['blog_footer'] %>
				<br />
				<%= APP_CONFIG.config['global_footer'] %>
			</div>	
		</div>
	</div>

</body>
</html>
